PUBLIC_APP_URL=http://localhost:5173
PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_XXXXXXXXXXXXXXXXXXXXXXXX

PUBLIC_SANITY_PROJECT_ID=8t7t9f90
PUBLIC_SANITY_DATASET=production

SANITY_PROJECT_ID=8t7t9f90
SANITY_DATASET=production
SANITY_API_VERSION=2025-02-19
SANITY_READ_TOKEN=
SANITY_WRITE_TOKEN=

STRIPE_SECRET_KEY=sk_test_XXXXXXXXXXXXXXXXXXXXXXXX
STRIPE_WEBHOOK_SECRET=whsec_XXXXXXXXXXXXXXXXXXXXXXXX
